.allCharactersPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: mediumspringgreen;
  font-size: 30px;
}

.filters {
  display: flex;
  justify-content: center;

  background-color: mediumspringgreen;
  color: #212121;
  width: 100%;
  height: 180px;
}

.list {
  margin: 20px 0px;
}

.title {
  font-size: 60px;
}
