.allCharactersPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: mediumspringgreen;
  font-size: 30px;
}

.list {
  margin: 20px 0px;
}

.title {
  font-size: 60px;
}
