.allCharactersPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: mediumspringgreen;
  font-size: 30px;
}

.filters {
  display: flex;
  justify-content: center;
  background-color: mediumspringgreen;
  color: #212121;
  width: 100%;
  height: 180px;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 1200px;
}

.item {
  padding: 10px;
  border-radius: 5px;
  background-color: mediumspringgreen;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  height: 230px;
  width: 210px;
}

.item:hover {
  transform: scale(1.05);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #212121;
}

.title {
  font-size: 60px;
}

.img {
  height: 150px;
  width: 150px;
}

.name {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  height: 50px;
}
