.characterPage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 340px;
  height: 500px;
  background-color: mediumspringgreen;
  border: 3px solid black;
  border-radius: 5px;
}

img {
  border: 3px solid black;
}

span {
  font-size: 20px;
  font-weight: 900;
}
